/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        position: fixed;
        border: solid black 1px;
        width: 75%;
        height: 80%;
        margin: auto;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: "Roboto", "sans-serif";
        line-height: 30px;
        padding-left: 10px;
      }
      
      #floating-panel {
        background-color: #fff;
        border: 1px solid #999;
        left: 25%;
        padding: 5px;
        position: absolute;
        top: 10px;
        z-index: 5;
      }

/*Slider. */
.slider {
  -webkit-appearance: none;
  margin-left: 12.5%;

  margin-top: 20px;
  width: 75%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #62b7cc;
  cursor: pointer;

}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

h1{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.intro{
  margin: auto;
  text-align: center;
 background: #89f899;
 width: 75%
}

#sliderinstruction{
  text-align: center;
}

#selectedDate{
  text-align: center;
}

footer{
  font-style: italic;
  text-align: center;
}